    h1
    {
    font-family: Georgia, Times, Sans-serif;
    margin-left:760px;
    }
    
    body
    {
    background-color:gray;
    }
        
    
    
    table
	{
	    padding-top: 30px;
	    background-color:white;
		margin:auto;
	}
        
      #container
    {
   
    margin: auto;
    width: 280px;
    height: 280px;
    background-color: white;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
        
		
    -moz-box-shadow: #333 1px 4px 10px 0px;
    -webkit-box-shadow: #333 1px 4px 10px 0px;       
    }
   